h1 {
  color: #903;
  font: 32px/1  Helvetica Neue;
}

header h1 {
	font-size: 48px;
	line-height: 65px;
	background: transparent url(/images/chitter.png) 0 0 no-repeat; 
	background-size: 65px 65px;
	padding-left: 80px;
}

p {
	font: 13px/1.4  Helvetica Neue;
}

body {
	font-family:  Helvetica Neue;
}



a {
	text-decoration: none;
	display: block;
	padding: 8px;
	&:hover {
		background: darken(black, 20%);
    }
  }
}

nav {
 <% include tabs %> (background: #D2691E, color: white);
 font-weight: bold;
}

p {
 font: 13px/1.4 Helvetica Neue;
}