h1 {
  color: #903;
  font: 32px/1  Helvetica Neue;
}

header h1 {
	font-size: 48px;
	line-height: 65px;
	background: transparent url(/images/chitter.png) 0 0 no-repeat; 
	background-size: 65px 65px;
	padding-left: 80px;
}

header {
#signup color: #800;
}  

p {
	font: 13px/1.4  Helvetica Neue;
}

body {
	font-family:  Helvetica Neue;
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background: #D2691E;
  overflow: hidden;
}

li {
	float: left;
	color: black;
	 font:25px/1  Helvetica Neue;
}

a {
	text-decoration: none;
	display: block;
	padding: 8px;
  color: purple;
  }

header nav ul li a:link {
    color: purple }
header nav ul li a:visited {
    color: purple }

div  {
  width: 600px;
  padding: 5px;
  font-weight: bold;
  margin: 20px;
  background: lighten(#D2691E, 60%);
  color: #D2691E;
  border: 1px solid red;
}

nav {
 <% include tabs %> (background: #D2691E, color: white);
 font-weight: bold;
}

header nav ul li a.current {
 background: (#D2691E, 10%);
}

header nav ul li a .hoverme {
    position: relative;
}
header nav ul li a.hoverme:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    z-index: -1;
}

nav.hoverme:hover:after {
    background-color: #ddd;
}


p {
 font: 13px/1.4 Helvetica Neue;
}


label { display: block; }

