<p> This website is a clone of Twitter that I made during my 4th Week at Makers Academy </p>
<p> Find out more about Makers Academy by clicking here:</p>
<p><a href="http://www.makersacademy.com"><img src="/images/logo.png"></a></p>