<h1> Contact Chitter </h1>

<form action="/contact" method="post">
   <label for "name"> Name: <input name="name" type="text">
   <label for "email"> Email: <input name="email" type="text">
   <label for "message"> Your Peep: <input name="message" type="text">
   <input type="submit" value="Submit">

 </form>
 




