<div>

<h1> Contact Chitter </h1>

	<form action="/contact" method="post">
	   <label for "name"> Name: </label><input name="name" type="text">
	   <label for "email"> Email: </label><input name="email" type="text" class="u-full-width" type="email" placeholder="" id="exampleEmailInput">
	   <label for="message">Message:</label>
	  <textarea class="u-full-width" placeholder="Hi Chitter…" id="exampleMessage"></textarea>
	    <label for="Reasons">Reason for contacting</label>
	      <select class="u-full-width" id="exampleRecipientInput">
	        <option value="Option 1">Questions</option>
	        <option value="Option 2">Admiration</option>
	       <option value="Option 3">Can I get your number?</option>
	      </select>
	   <input class="button-primary" type="submit" value="Submit">
	 </form>
 </div>


 <!-- <form>
  <div class="row">
    <div class="six columns">
      <label for="exampleEmailInput">Your email</label>
      <input class="u-full-width" type="email" placeholder="test@mailbox.com" id="exampleEmailInput">
    </div>
    <div class="six columns">
      <label for="exampleRecipientInput">Reason for contacting</label>
      <select class="u-full-width" id="exampleRecipientInput">
        <option value="Option 1">Questions</option>
        <option value="Option 2">Admiration</option>
        <option value="Option 3">Can I get your number?</option>
      </select>
    </div>
  </div>
  <label for="exampleMessage">Message</label>
  <textarea class="u-full-width" placeholder="Hi Dave …" id="exampleMessage"></textarea>
  <label class="example-send-yourself-copy">
    <input type="checkbox">
    <span class="label-body">Send a copy to yourself</span>
  </label>
  <input class="button-primary" type="submit" value="Submit">
</form>

 




 -->