<!DOCTYPE html>
<% title="Chitter" %>
<html lang="en">
<head>
  <title><%= title %></title>
  <meta charseet="utf-8">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1><%= title %></h1>
    <section>
      <p>A new social netoworking site!</p>
    </section>
    <nav>
      <ul>
        <li><a href='/' title="Home">Home</a></li>
        <li><a href='/about' title="About">About</a></li>
        <li><a href='/contact' title="Contact">Contact</a></li>
       </ul>
    </header>
  <% if current_user %>
    You are now logged in as <%= current_user.username %>
    <% end %>
  <%= yield %>

</body>
</html>