<!DOCTYPE html>
<html>
  <body>
    <header>
      <title>Chitter</title>

    </header>
  <% if current_user %>
    Welcome, <%= current_user.username %>
    <% end %>
  <%= yield %>

</body>
</html>