<!DOCTYPE html>
<% title="Chitter" %>
<html lang="en">
<head>
  <title><%= @title || "Chitter" %></title>
  <meta charseet="utf-5">
  <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
  <header>
    <h1><%= title %></h1>
    <nav>
      <ul>
        <li><a href='/' title="Home">Home</a></li>
        <li><a href='/about' title="About">About</a></li>
        <li><a href='/contact' title="Contact">Contact</a></li>
       </ul>
    </header>
  <% if flash[:notice] %>
    <div id="notice">
      <%= flash[:notice] %>
    </div>
  <% end %>
   <%= yield %>
</body>
</html>