<h1> Peep Page </h1>
<div>
	<% if @peeps.any? %>
		   <% @peeps.each do |peep| %>
		   <ul>
			   <pre><li><%= peep.message %></li></pre>
		   </ul>
		   <% end %>
	<% else %>
		  <p> No peeps have been created yet </p>
	<% end %>
</div> 


