<h1>Here is your peep:</h1>

<p><%= @peep.peep_timestamp %>: <%= @peep.message %></p>

<p><a href="/peep">back to peep index</a></p>
<p><a href="/peep/<%= @peep.id %>/edit">edit this peep</a></p>
<form action="/peep/<%= @peep.id %>" method="post">
 <input type="hidden" name="_method" value="delete">
 <input type="submit" value="delete this peep">
</form>



