<div>
<h1>Please sign in</h1>

	<form action="/sessions" method="post">
	  <label for "username"> Username: </label><input name="username" type="text">
	  <label for "password"> Password: </label><input name="password" type="password">
	  <p></p>
	  <input type="submit" value="Sign in" id="submit">
	</form>
</div>
